<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pag1.css') }}">
</head>
<body>
    <center><h1>Casa do bolo</h1></center>

    <div id="container">
        <ul>   <!-- Lista de produtos -->
            {% for bolo in itens %}
                <li>
                    {{ bolo.nome }} - {{ bolo.tamanho }}
                    <button class="open-modal" data-bolo="{{ bolo.id }}">Ver Detalhes</button>
                </li>
            {% endfor %}
        </ul>
 

        <div id="pag">
            {% if pagina > 1 %}
            <a href="{{ url_for('bolo.produtos', pag=pagina-1) }}">Voltar</a>  <!-- Paginação voltar -->
            {% endif %}
        
            <span>{{ pagina }} de {{ total }}</span>  <!-- Exibir a página atual -->
            
            {% if pagina < total %}   <!-- Paginação -->
                <a href="{{ url_for('bolo.produtos', pag=pagina+1) }}">Próximo</a>  <!-- Paginação próximo -->
            {% endif %}
        </div>

        <div id="myModal" class="modal">   <!-- Modal -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id="modal-details">
                    <!-- Conteudo que vem do js -->
                </div>
            </div>
        </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='modal.js') }}"></script> <!-- Puxar o js -->
</body>
</html>
