<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pag1.css') }}">
</head>
<body>
    <center><h1>Atividade</h1></center>

    <!-- Lista de produtos -->
    <ul>
        {% for bolo in itens %}
            <li>
                {{ bolo.nome }} - {{ bolo.tamanho }}
                <button class="open-modal" data-id="{{ bolo.id }}">Ver Detalhes</button>
            </li>
        {% endfor %}
    </ul>

    <!-- Paginação -->
    {% if pagina < total %}
        <a href="{{ url_for('bolo.produtos', pag=pagina+1) }}">Próximo</a>  <!-- Paginação próximo -->
    {% endif %}
    
    <span>{{ pagina }} de {{ total }}</span>  <!-- Exibir a página atual -->
    
    {% if pagina > 1 %}
        <a href="{{ url_for('bolo.produtos', pag=pagina-1) }}">Voltar</a>  <!-- Paginação voltar -->
    {% endif %}

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modal-details">
                <!-- O conteúdo será carregado aqui dinamicamente via JavaScript -->
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='modal.js') }}"></script> <!-- Puxando o JS -->
</body>
</html>
